<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>care-UI</title>
    <style lang="scss">
        *{ margin: 0; padding: 0; box-sizing: border-box; }
        html {
            --button-height: 32px;
            --font-size: 14px;
            --button-bg: white;
            --button-active-bg: #eee;
            --border-radius: 4px;
            --color: #333;
            --border-color: #999;
            --border-color-hover: #666;
        }
        #app {
            padding: 20px;
        }
        .row {
            padding: 0 0 10px;
        }
        .item {
            margin: 20px 0;
            max-width: 700px;
        }
        p {
            padding-bottom: 5px;
        }
        .demo-li {
            min-height: 30px;
            background-color: #eee;
            border-radius: 3px;
        }
        .col:nth-child(2n) .demo-li{
            background-color: #d3dce6;
        }
        .header, .footer, .sider, .layout {
            text-align: center;
        }
        .header, .footer {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: #b3c0d1;
        }
        .sider {
            background-color: #d3dce6;
        }
        .layout {
            background-color: #e9eef3;
        }
    </style>
    <style type="text/css">
        .icon {
           width: 1em; height: 1em;
           vertical-align: -0.15em;
           fill: currentColor;
           overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="item">
            <c-button @click="showToast">点我</c-button>
            <c-button @click="showToast1">1点我</c-button>
            <c-button @click="showToast2">2点我</c-button>
            <c-button @click="showToast3">3点我</c-button>
        </div>
        <!-- <div class="item">
            <p>layout布局</p>
            <c-layout style="height: 400px;">
                <c-sider width="200px">Sider</c-sider>
                <c-layout>
                    <c-header>Header</c-header>
                    <c-content>Content</c-content>
                    <c-footer>Footer</c-footer>
                </c-layout>
            </c-layout>
        </div>
        <div class="item">
            <section>
                <p>栅格布局</p>
                <c-row>
                    <c-col span="12"><div class="demo-li"></div></c-col>
                    <c-col span="12"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
            </section>
            <section>
                <p>栅格布局 - 带间隙</p>
                <c-row gutter="10">
                    <c-col span="12"><div class="demo-li"></div></c-col>
                    <c-col span="12"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10">
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                    <c-col span="6"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10">
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
            </section>
            <section>
                <p>栅格布局 - 分栏偏移</p>
                <c-row gutter="10">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8" offset="8"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10">
                    <c-col span="4" offset="4"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="8"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10">
                    <c-col span="12"><div class="demo-li"></div></c-col>
                    <c-col span="6" offset="6"><div class="demo-li"></div></c-col>
                </c-row>
            </section>
            <section style="background-color: #f9fafc;">
                <p>栅格布局 - flex - justify</p>
                <p>justify = start | end | center | space-between | space-around</p>
                <c-row gutter="10" justify="start">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="2"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10" justify="end">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="2"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10" justify="center">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="2"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10" justify="space-between">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="2"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
                <c-row gutter="10" justify="space-around">
                    <c-col span="8"><div class="demo-li"></div></c-col>
                    <c-col span="2"><div class="demo-li"></div></c-col>
                    <c-col span="4"><div class="demo-li"></div></c-col>
                </c-row>
            </section>
        </div>
        <div class="item">
            <p>input标签（可双向绑定）</p>
            <div class="row">
                <c-input v-model="message"></c-input>
                <p>{{message}}</p>
            </div>
            <div class="row">
                <c-input readonly></c-input>
            </div>
            <div class="row">
                <c-input disabled></c-input>
            </div>
            <div class="row">
                <c-input v-model="message" error="xxx" success="???"></c-input>
                <p>{{message}}</p>
            </div>
            <div class="row">
                <c-input readonly success="???"></c-input>
            </div>
            <div class="row">
                <c-input disabled success="???"></c-input>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <p>普通按钮</p>
                <c-button>我是按钮</c-button>
                <c-button icon="settings">我是按钮</c-button>
                <c-button icon="settings" icon-position="right">我是按钮</c-button>
            </div>
            <div class="row">
                <p>带loading的按钮</p>
                <c-button :loading="true">我是按钮</c-button>
                <c-button :loading="loading1" @click="loading1 = !loading1">我是按钮</c-button>
                <c-button :loading="loading2" @click="loading2 = !loading2" icon="settings">我是按钮</c-button>
                <c-button :loading="loading3" @click="loading3 = !loading3" icon="settings" icon-position="right">我是按钮</c-button>
            </div>
            <div class="row">
                <p>连级按钮</p>
                <c-button-group>
                    <c-button icon="left">我是按钮</c-button>
                    <c-button>我在中间</c-button>
                    <c-button icon="right" icon-position="right">我是按钮</c-button>
                </c-button-group>
            </div>
        </div> -->
    </div>
    <script src="./src/app.js"></script>
</body>
</html>