
.navbar .links .search-box {
    display none
}

// .sidebar-group-items > li > a.active {
//     background-color #ecf5ff
// }

// .sidebar-group a.sidebar-link {
//     padding-left: 1rem;
// }
// .sidebar-group a.sidebar-link.active {
//     font-weight: normal;
// }
// .sidebar .sidebar-heading {
//     padding: 0.35rem 1.5rem 0.35rem 2rem;
// }

.c-toast-wrapper {
    position: fixed;
    z-index: 99;
}