
.navbar .links .search-box {
    display none
}

// .sidebar-group-items > li > a.active {
//     background-color #ecf5ff
// }

// .sidebar-group a.sidebar-link {
//     padding-left: 1rem;
// }
// .sidebar-group a.sidebar-link.active {
//     font-weight: normal;
// }
// .sidebar .sidebar-heading {
//     padding: 0.35rem 1.5rem 0.35rem 2rem;
// }

.c-toast-wrapper {
    position fixed
    z-index 99
}

.navbar {
    box-shadow 0 2px 8px #f0f1f2
}

.c-item-row {
    padding-top 1em
}
.c-item-row:first-child {
    padding-top 0
}

.theme-container .home .hero .action-button {
    transition all 0.3s
}
.theme-container .home .hero .action-button:hover,
.theme-container .home .hero .action-button:focus {
    background: #3377c9;
    border-color: #3377c9;
    color: #fff;
}

.theme-container .home .hero .action-button:active {
    background: #004da8;
    border-color: #004da8;
    color: #fff;
    outline: none;
}